* {
  font-family: Garamond
}

h1#title {
  font-size: 3em;
}

h2 {margin-left:1.5em;}
h3 {margin-left:3.0em;}

div.t {
  width: 60em;
}

div.t + div.t {
  margin-top: 0.5em
}

div.code {
  padding: 0.2em;
  border:1px solid black;
  background-color: #eee;
  font-family: Consolas, monospace;
  white-space: pre;
}

div.code, div.t {
  margin-left: 5em;
}

ul {
  margin-top: 0;
}

table tr {
  vertical-align:top
}
