* {
  font-family: Garamond
}

h1#title {
  font-size: 3em;
}

h2 {margin-left:1.5em;}
h3 {margin-left:3.0em;}

div.t {
  width: 60em;
}

div.t + div.t {
  margin-top: 0.5em
}

div.code {
  padding: 0.2em;
  border:1px solid black;
  background-color: #eee;
  white-space: pre;
}

code,
div.code,
div.code * {
  font-family: Consolas, monospace;  
}

div.code, div.t, img {
  margin-left: 5em;
}

ul {
  margin-top: 0;
}

table tr {
  vertical-align:top
}

.bottom {
  margin-bottom: 2000px;
}

.todo, .done {
  font-weight: bold;
}
.todo {
  color: yellow;
  background-color: red;
}
.done {
  color: #12aa55;
  background-color: 77ff77;
}
.warning {
   background-color: #ff0;
}
